:root
{
    --uncblue: RGB(1,45,91);
    --uncsand: RGB(255,239,204);
    --uncseafoam: RGB(199,230,228);
    --uncgray: RGB(235,235,235);
    color: var(--uncblue);
    background-color:var(--uncseafoam)
}

h1
{
    color: var(--uncsand);
    font-size: 48pt;
    text-decoration: underline;
    text-align: center;
}

img
{
    margin: auto;
    display: block;
}

li
{
    text-align: left;
    font-weight: bold;
}


section :hover
{
    background-color:var(--uncsand);
}
p:hover
{
    background-color:var(--uncgray);
    display: block;
}
.footnote
{
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}

h2
{
    text-align: center;
}

