:root
{
    --uncblue: RGB(1,45,91);
    --uncsand: RGB(255,239,204);
    --uncseafoam: RGB(199,230,228);
    color: var(--uncblue);
    background-color:var(--uncseafoam)
}

h1
{
  color: var(--uncsand);
  font-size: 50pt;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

ul li
{
    
    font-weight: bold;
}

img
{
    margin: auto;
    display: block;
}

section :hover
{
    background-color:var(--uncsand);
}

.footnote
{
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}
