:root
{
    --uncblue: RGB(1,45,91);
    --uncsand: RGB(255,239,204);
    --uncseafoam: RGB(199,230,228);
    --uncgray: RGB(102,102,102);
    --uncbutter: RGB(255,214,125);
}
body
{
    background-color: var(--uncgray);
}
section :hover
{
    background-color:var(--uncseafoam);
*
{
    color: var(--uncblue);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
}
nav
{
    border: 7px var(--uncbutter) solid;
}
section
{
    border: 5px var(--uncseafoam) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--uncbutter);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
